# Environment files
.env
**/.env

# Node dependencies
node_modules/
**/node_modules/

# Frontend build output
dist/
**/dist/

# Logs
*.log
npm-debug.log*

# Operating system/editor files
.DS_Store
.vscode/

# Terraform working directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform crash logs
crash.log
crash.*.log

# Local Terraform variable files
*.tfvars
!*.tfvars.example

# Terraform plan files
*.tfplan