aws_account_id = "123456789012"
aws_region     = "eu-west-1"
environment    = "dev"
project_name   = "task-management"
vpc_cidr       = "10.20.0.0/16"
container_image_tag = "abc123def456"
hosted_zone_name      = "hashim-next-gen.com"
application_subdomain = "tasks"
